body {
  background-color: aqua;
  /* margin: 0 auto; */
}

.wrap {
    box-sizing: border-box;
    height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#myCanvas {
  background-color: beige;
  border: 1px solid black;
}
